{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint", "prettier", "jest"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"rules": {
		"no-console": 1,
		"prettier/prettier": 2,
		"@typescript-eslint/member-delimiter-style": "off"
	},
	"env": {
		"browser": true,
		"node": true,
		"jest/globals": true
	}
}
